# Logs
logs
*.log
npm-debug.log*

# Generated JSON files
*.json

# PM2 save
*.*.save

# FTPconfig
.ftpconfig

# Secret file
secret

# HTML
*.html

# Client ID
clientid

# Dependencies
node_modules/

# HTML folder
views/
views/*
