# Logs
logs
*.log
npm-debug.log*

# Generated JSON files
*.json
!package.json

# PM2 save
*.*.save

# FTPconfig
.ftpconfig

# Secret files
youtubeKey
secret

# HTML
*.html

# Client ID
clientid

# Dependencies
node_modules/

# HTML folder
views/
views/*

#misc text files
*.txt
